*{
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 20px;
}

.todo-list__items {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

